include ./mixin/component

extends layout/default.jade

block head  
	title Cortex
	+js("//cdnjs.cloudflare.com/ajax/libs/zepto/1.1.3/zepto.js")
	+css("/css/index.css")
	+css("/css/lib/animate.css")

block content  
	+nav(user)
	.banner
		img.logo-large(src="./img/logo-large.png")
		.slogan The package cloud for browsers, connecting creative people
	.main-content
		.info-panel.animated.fadeInDown
			.head RECENTLY UPDATED
			.body
				table
					each pkg in recentlyUpdated
						tr
							td 
								a(href="/package/#{pkg.name}" target="_blank") #{pkg.name}
							td #{pkg.updated}
		.info-panel.animated.fadeInDown
			.head MOST DEPENDED UPON
			.body
				table
					each pkg in mostDependedUpon
						tr
							td 
								a(href="/package/#{pkg.name}" target="_blank") #{pkg.name}
							td #{pkg.count} packages
		.info-panel.animated.fadeInDown
			.head PROLIFIC USERS RECENTLY
			.body
				table
					each user in prolifics
						tr
							td
								a(href="/~#{user.name}" target="_blank") #{user.name}
							td #{user.count} packages
	script.
		facade({
			mod: 'cortexjs-www/entries/index'
		});
					

