include ./mixin/component

extends layout/default.jade

block head  
	title cortex
	+css("./css/index.css")

block content  
	+nav(user)
	.banner
		img.logo-large(src="./img/logo-large.png")
		.slogan The package cloud for browsers, connecting creative people
	.main-content
		.info-panel
			.head RECENTLY UPDATED
			.body
				table
					each pkg in recentlyUpdated
						tr
							td #{pkg.name}
							td #{pkg.version}
		.info-panel
			.head MOST DEPENDED UPON
			.body
				table
					each pkg in mostDependedUpon
						tr
							td #{pkg.name}
							td #{pkg.version}
		.info-panel
			.head MOST STARED
			.body
				table
					each pkg in mostStared
						tr
							td #{pkg.name}
							td #{pkg.version}
	script.
		facade({
			mod: 'cortexjs-www/entries/index'
		});
					

