include ./mixin/component

extends layout/default.jade

block head
  title Cortex
  +css("/css/index.css")
  +css("/css/lib/animate.css")
  +css("/css/lib/socicon.css")

block content
  +nav(user)
  if (!user) 
    .banner
      .container
        .brands.fadeInDown.animated
          img.logo-large(src="./img/logo-large.png")
          .slogan The package cloud for browsers, connecting creative people
          form.form(action="/signup",method="post")
            input.form-control(type="text",name="username",placeholder="Pick a username")
            input.form-control(type="email",name="email",placeholder="Your email")
            input.form-control(type="password",name="password",placeholder="Create a password")
            input.form-control.signin(type="submit",value="Sign up for Cortex")
            a.form-control.signin-github(href="/auth/github")
              i.socicon.socicon-github
              | Sign in width Github
  
  .main-content
    .info-panel.animated.fadeInDown
      .head RECENTLY UPDATED
      .body
        ul
          each pkg in recentlyUpdated
            li
              a(href="/package/#{pkg.name}" target="_blank")
                .title #{pkg.name}
                .detail #{pkg.updated}
    .info-panel.animated.fadeInDown
      .head MOST DEPENDED UPON
      .body
        ul
          each pkg in mostDependedUpon
            li
              a(href="/package/#{pkg.name}" target="_blank")
                .title  #{pkg.name}
                .detail #{pkg.count} packages
    .info-panel.animated.fadeInDown
      .head MOST DOWNLOADS IN WEEK
      .body
        ul
          each down in topWeekDownloads
            li
              a(href="/package/#{down.name}" target="_blank")
                .title #{down.name}
                .detail #{down.count} downloads
    if (user)
      .info-panel.animated.fadeInDown
        .head PROLIFIC USERS
        .body
          ul
            each user in prolifics
              li
                a(href="/~#{user.name}" target="_blank")
                  .title #{user.name}
                  .detail #{user.count} packages
  script.
    facade({
      entry: 'cortexjs-www/entries/index.js'
    });


