include ./mixin/component

extends layout/default.jade

block head  
	title cortex
	+css("/css/index.css")

block content  
	+nav(user)
	.banner
		img.logo-large(src="./img/logo-large.png")
		.slogan The package cloud for browsers, connecting creative people
	.main-content
		.info-panel
			.head RECENTLY UPDATED
			.body
				table
					each pkg in recentlyUpdated
						tr
							td 
								a(href="/package/#{pkg.name}") #{pkg.name}
							td #{pkg.updated}
		.info-panel
			.head MOST DEPENDED UPON
			.body
				table
					each pkg in mostDependedUpon
						tr
							td 
								a(href="/package/#{pkg.name}") #{pkg.name}
							td #{pkg.count}
		.info-panel
			.head MOST PROLIFIC USERS
			.body
				table
					each user in prolifics
						tr
							td
								a(href="/~#{user.name}") #{user.name}
							td #{user.count}
	script.
		facade({
			mod: 'cortexjs-www/entries/index'
		});
					

