include ./mixin/component

extends layout/default.jade

block head  
  title package/#{pkg.name}
  +css("/css/package.css")
  +css("/css/lib/readme.css")
  +css("/css/lib/animate.css")

block content  
  +nav(user)
  section.container
    .top-area
      span.info #{pkg.name}
      select.versions(onchange="window.location = '/package/#{pkg.name}/'+this.options[this.selectedIndex].value")
        each version in pkg.allVersions
          if version.indexOf('-')==-1
            if version == pkg.version
              option(selected="true", value="#{version}") #{version}
            else
              option(value="#{version}") #{version}
      if pkg.license && pkg.license.name
        a(href="#{pkg.license.url}").info-box 
          span #{pkg.license.name}
      if user
        .tags
          if tags && tags.length>0
            each tag in tags
              a.tag(class="animated flipInY") #{tag}
        
        a.add-tag(class="animated flipInY") `
        input.tag-input(type="text" class="hide animated fadeIn")
    .detail
      .main-col
        +package-stat(pkg)
        section.readme.card
          .title README
          .content.markdown !{pkg.readme}
      .aside-col
        if pkg.dependencies.length || pkg.devDependencies.length || pkg.asyncDependencies.length || pkg.dependents.length
          .dependency-info.card
            .tabs
              if pkg.dependencies.length
                a.tab(class="#{depTabs.dependencies}") DEPS
              if pkg.devDependencies.length
                a.tab(class="#{depTabs.devDependencies}") DEV
              if pkg.asyncDependencies.length
                a.tab(class="#{depTabs.asyncDependencies}") ASYNC
              if pkg.dependents.length
                a.tab(class="#{depTabs.dependents}") DEPENDENTS
            .tab-panes
              each deps in ['dependencies', 'devDependencies', 'asyncDependencies']
                if pkg[deps].length
                  .content.tab-pane.animated.fadeIn(class="#{depTabs[deps]}")
                    table
                      thead
                        tr
                          th NAME
                          th REQUIREMENT
                          tbody
                            each version, dependency in pkg[deps]
                              tr
                                td
                                  a(href="/package/#{dependency}") #{dependency}
                                  td 
                                  a(href="/package/#{dependency}/#{version}") #{version}
              if pkg.dependents.length
                .content.tab-pane.animated.fadeIn(class="#{depTabs.dependents}")
                  table
                    thead
                      tr
                        th(style="width:30%")  NAME
                        th DESCRIPTION
                        tbody
                          each dependency in pkg.dependents
                            tr
                              td
                                a(href="/package/#{dependency.name}") #{dependency.name}
                                td.ellipsis #{dependency.description}
        +maintainers(pkg.maintainers)

  script.
    facade({
      mod: 'cortexjs-www/entries/package'
    });


