include ./mixin/component

extends layout/default.jade

block head  
	title cortex
	+css("/css/package.css")
	+css("/css/lib/readme.css")

block content  
	+nav(user)
	section.container
		.top-area
			span.info #{pkg.name}
			select.versions(onchange="window.location = '/package/#{pkg.name}/'+this.options[this.selectedIndex].value")
				each version in pkg.allVersions
					if version == pkg.version
						option(selected="true", value="#{version}") #{version}
					else
						option(value="#{version}") #{version}
			if pkg.license
				a(href="#{pkg.license.url}").info-box 
					span #{pkg.license.name}
		.detail
			.row
				.col
					+package-stat(pkg)
					+command("install","cortex install "+ pkg.name +" --save")
					+maintainers(pkg.maintainers)
				.col
					.dependency-info.card
						.tabs
							a.tab.active DEPENDENCIES
							a.tab DEV
							a.tab DEPENDENTS
						.content.tab-pane.active
							table
								thead
									tr
										th FULL NAME
										th REQUIREMENT
								each version, dependency in pkg.dependencies
									tbody
										tr
											td
												a(href="/package/#{dependency}") #{dependency}
											td 
												a(href="/package/#{dependency}/#{version}") #{version}
						if pkg.asyncDependencies && pkg.asyncDependencies.length
							.content.tab-pane
								table
									thead
										tr
											th FULL NAME
											th REQUIREMENT
									each version, dependency in pkg.asyncDependencies
										tbody
											tr
												td 
													a(href="/package/#{dependency}") #{dependency}
												td 
													a(href="/package/#{dependency}/#{version}") #{version}
						.content.tab-pane
							table
								thead
									tr
										th FULL NAME
										th REQUIREMENT
								each version, dependency in pkg.devDependencies
									tbody
										tr
											td 
												a(href="/package/#{dependency}") #{dependency}
											td 
												a(href="/package/#{dependency}/#{version}") #{version}
						.content.tab-pane
							table
								thead
									tr
										th(style="width:30%") FULL NAME
										th DESCRIPTION
								each dependency in pkg.dependents
									tbody
										tr
											td 
												a(href="/package/#{dependency.name}") #{dependency.name}
											td.ellipsis #{dependency.description}

			.row
				section.readme.card
					.title README
					.content.markdown !{pkg.readme}
	script.
		facade({
			mod: 'cortexjs-www/entries/package'
		});


