include ./mixin/component

extends layout/default.jade

block head  
	title cortex
	+css("/css/package.css")
	+css("/css/lib/readme.css")

block content  
	+nav(user)
	section.container
		.top-area
			span.info #{pkg.name}
			select.versions
				each version in pkg.allVersions
					option #{version}
			if pkg.license
				a(href="#{pkg.license.url}").info-box 
					span #{pkg.license.name}
		.detail
			.row
				.col
					+package-stat(pkg)
					+command("install","cortex install "+ pkg.name +" --save")
					+maintainers(pkg.maintainers)
				.col
					.dependency-info.card
						.tabs
							a.tab.active DEPENDENCIES
							a.tab DEV
							a.tab DEPENDENTS
						.content.tab-pane.active
							table
								tr
									th FULL NAME
									th REQUIREMENT
								each version, dependency in pkg.dependencies
									tr
										td
											a(href="/package/#{dependency}") #{dependency}
										td 
											a(href="/package/#{dependency}/#{version}") #{version}
						.content.tab-pane
							table
								tr
									th FULL NAME
									th REQUIREMENT
								each version, dependency in pkg.devDependencies
									tr
										td 
											a(href="/package/#{dependency}") #{dependency}
										td 
											a(href="/package/#{dependency}/#{version}") #{version}
						.content.tab-pane
							table
								tr
									th FULL NAME
								each dependency in pkg.dependents
									tr
										td 
											a(href="/package/#{dependency}") #{dependency}

			.row
				section.readme.card
					.title README
					.content.markdown !{pkg.readme}
	script.
		facade({
			mod: 'cortexjs-www/entries/package'
		});


