mixin nav(user)
	.nav
		.bg
		.overlay
			.main-panel
				a.home(href="/")
				.search-box
					input(type="text")
					i.icon-close
			.util-panel
				a.doc
				a.get-started GET STARTED
				if user
					a.user(href="/user/#{name}")
						img.avatar(src="#{user.avatarMedium}")
				else	
					a.login
						img.avatar(src="#{user.avatarMedium}")
		ul.dropdown.hide
			li 
				a MY BIA CARD
			li
				a SETTINGS
			li
				a LOG OUT

mixin user()
	section.user.card
		img.avatar(src="./img/avatar.jpg")
		.username substack
		.user-packages 400 packages

mixin user-info()
	section.user-info.card
		.head USER INFORMATION
		.body
			table
				tr
					td FULL NAME
					td James Halliday
				tr
					td FULL NAME
					td James Halliday
				tr
					td FULL NAME
					td James Halliday

mixin package-info()
	a.package-info.card
		img.avatar(src="./img/avatar.jpg")
		.content
			.top
				.package-name commonjs-walker
				.version 2.3.0
			.bottom
				p.description bla bla bla blabl abl ablab labla blabl 
				.stat

mixin package-info-no-avatar()
	a.package-info.card
		.content
			.top
				.package-name commonjs-walker
				.version 2.3.0
			.bottom
				p.description bla bla bla blabl abl ablab labla blabl 
				.stat

mixin package-stat(pkg)
	section.package-stat.card
		.top
			a(href="/user/#{pkg.author.name}" target="_blank")
				img.avatar(src="#{pkg.author.avatarMedium}")
			.txt #{pkg.author.name} updated at #{moment(new Date(pkg.time.modified)).format('MM/DD YYYY')}
		.bottom
			//- a.item
			//- 	i(class="icon-like") 
			//- 	span 299
			a.item(href="#{pkg.homepage}" target="_blank")
				i(class="icon-home") 
				span Repo
			a.item(href="#{pkg.bugs.url}" target="_blank")
				i(class="icon-issue")
				span Issues

mixin maintainers(maintainers)
	section.maintainers.card
		.head MAINTAINERS
		.body
			each maintainer in maintainers
				a(href="/user/#{maintainer.name}" target="_blank")
					img.avatar(src="#{maintainer.avatarMedium}")
				
mixin command(title,content)
	section.command.card
		.title #{title}
		.content 
			.txt #{content}

